.env
.env.*
.git
.github
.heroku-cli
.npm-cache
.railway-cli
node_modules
vendor
public/build
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/framework/testing-views
